body {
    background-color: grey;
}

.hidden {
    display: none;
}

.singleProject, .projectTasks {
    margin: 1em;;
    border: 1px solid black;
}

.taskDone {
    text-decoration: line-through;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.taskDeleteBtn {
   transform: translateX(200%);
}

.show {
    transform: translateX(0%);
}

.greeeeen {
    background-color: greenyellow;
}

.yellllow {
    background-color: khaki;
}

.reed {
    background-color: lightcoral;
}